 .form1{
    background-image: url('https://res.cloudinary.com/dyxnmjtrg/image/upload/v1694962434/form2_h7zhiw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.preserve-linebreaks {
    white-space: pre-wrap;
}